body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: red;
    display: flex;
    justify-content: space-around;
    color: white;
}

nav ul{
    list-style: none;
}

.apresentacao{
    background-color: red;
    color: white;
    display: flex;
    padding: 2em;
    justify-content: space-around;
}

#pede{
    background-color: white;
    color: red;
    padding: 1em;
    border-radius: 5%;
    border: none;
}

.texto1{
    display: block;
    width: 40em;
    margin: 2em;
}

.texto1 h1{
    font-size: 3em;
}

.texto1 p{
    font-size: 1.5em;

}
#saiba{
    background-color: white;
    color: red;
    padding: 1em;
    border-radius: 5%;
    border: none;
    font-size: 1em;
}

.conheca{
    background-color: white;
    display: block;
    padding: 2em;
    justify-content: space-around;
}

.conheca h1{
    font-size: 3em;
    color: red;
}

.conheca p{
    color: black;
    font-size: 1.5em;
}

.conheca button{
    background-color: red;
    color: white;
    padding: 1em;
    border: none;
    border-radius: 5%;
    font-size: 1.25em;
}

.rotinas{
    display: flex;
    margin: 2em;
    padding: 1em;
}

.impacto{
    display: flex;
    margin: 2em;
    margin: 1em;
}

.news{
    background-color: whitesmoke;
    color: black;
    display: block;
    justify-content: center;
}

.blog{
    display: flex;
    justify-content: space-around;
    padding: 2em;
}

#news{
    margin: 2em;
    width: 20em;
    justify-content: center;
    text-align: start;
}

.news button{
    background-color: red;
    color: white;
    padding: 1em;
    border: none;
    border-radius: 5%;
    font-size: 1em;
    justify-content: right;
}

footer{
    background-color: red;
    color: white;
    display: block;
    
}

.lista{
    display: flex;
    padding: 2em 6em;
}

.lista ul{
    list-style: none;
    justify-content: center;
    padding: 0.5em;
    
}

.lista ul li{
    padding: 1em;
    flex-wrap: wrap;
    width: 15em;
}

.institucional{
    background-color: darkred;
    width: 100%;
    margin: 2em 0em 0em 0em;
    padding: 2em;
    display: flex;
    justify-content: space-around;
}
