body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    
}

nav{
    background-color: whitesmoke;
    position: fixed;
    display: flex;
    justify-content: space-around;
    margin: 0em 0em 0em 0em;
    padding: 1em 3em;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul{
    list-style: none;
    display: flex;
    position: relative;
    margin-left: 2em;
    margin-right: 2em;
}

nav ul li{
    padding: 1em;
}
.menu{
    color: black;
    
}

.entrar{
    color: red;
    
}

button{
    background-color: red;
    color: white;
    padding: 1em;
    border-radius: 5px;
    border: none;
}

main{
    display: block;
    position: relative;
    margin-top: 15em;

}

.busca{
    
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.produtos{
    padding: 1em;
    justify-content: space-between;
    position: relative;
}

.produtos-lista ul{
    list-style: none;
    display: flex;
    position: relative;
    margin-left: 2em;
    margin-right: 2em;
}
.produtos-lista li{
    list-style: none;
    align-items: center;
    border: solid gray 0.1em;
    border-radius: 35%;
    padding: 0.5em;
}

.listas{
    display: flex;
    justify-content: space-around;
}
 .listas ul{
    list-style: none;
    display: block;
 }

 .listas ul li{
    padding: 1em;
 }

 .institucional{
    display: flex;
    padding: 0.5em;
 }

 .institucional-textos{
    display: block;
    flex-wrap: wrap;
 }

 .institucional-listas{
    display: flex;
    justify-content: space-between;
 }
    
.institucional-listas ul{
    list-style: none;
    display: flex;
    position: relative;
 }