body{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 0em;
    position: absolute ;
    
}

.fundo{
    background-color: #fdedee;
    width: 100%;    
    height: 200%;
    margin-left: -30em;
    margin-top: -20em;
    border-radius: 50%; 
    position: fixed;
}

.entrar{
    margin-left: 50em;
    margin-top: 4em;
    width: 35em;
    height: 35em;
    border: 1px solid gray;
    border-radius: 5%;
    display: block;
    padding: 0.5em;
    position: absolute;
    background-color: white;
}

h1{
    flex-wrap: wrap;
    width: 10em;
    text-align: center;
    font-size: 3em;
    padding: 0.5em 1em 0.25em 1em;
}

p{
    flex-wrap: nowrap;
    width: 15em;
    text-align: center;
    font-size: 2em;
    padding: 0.25em 1em 0.5em 1em;
}

.redes{
    display: block;
    position: relative;
    justify-content: center;
}

.contatos{
    padding: 1em;
    display: flex;
    justify-content: center;

}
#facebook{
    color: white;
    background-color: blue;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    margin: 1em 6em;
    border: none;
    border-radius: 3%;
    width: 30em;
}

#google{
    padding: 1em;
    border: 1px solid gray;
    border-radius: 3%;
    background-color: white;
    color: black;
    width: 30em;
    display: flex;
    justify-content: space-around;
    margin: 1em 6em;
}

#celular{
    padding: 1em;
    border: 1px solid gray;
    border-radius: 4%;
    background-color: white;
    color: black;
    width: 14em;
    margin: 0.5em 1em;
}

#email{
    padding: 1em;
    margin: 0.5em 1em;
    border: 1px solid gray;
    border-radius: 4%;
    background-color: white;
    color: black;
    width: 14em;
}

@media all and (max-width:960px){
    body{
        margin: 0;
        display: block;
        position: absolute;
        
    }
    
    .fundo{
        margin: -30em 0em 0em 0em;
        height: 50em;
        width: 50em;
        justify-content: center;
        position: relative;
        
    }

    .entrar{
        border: none;
        position: relative;
        display: block;
        justify-content: center;
        margin-top: 0em;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        align-items: center;
        text-align: center;
        padding: 0;
    }

    h1{
        font-size: 1.5em;
        flex-wrap: nowrap;
        width: 100%;
        margin: none;
    }

    p{
        font-size: 1em;
        width: 100%;
        text-align: center;
        margin: none;
    }

    .redes{
        margin: 0.5em;
        display: block;
        position: relative;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 100%;
        
    }

    #facebook{
        width: 100%;
        margin: 0;
        position: relative;
    }

    #google{
        position: relative;
        margin: 1em auto;
    }

    .contatos{
        width: 100%;
        justify-content: space-around;
    }

    #celular{
        width: 100%;
    }

    #email{
        width: 100%;
    }


}