body{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 0;
    
    
    
}

.imagem{
    position: fixed;
}
.entrar{
    margin-left: 50em;
    margin-top: 8em;
    width: 35em;
    border: 1px solid gray;
    border-radius: 5%;
    display: block;
    padding: 1em;
    position: relative;
    background-color: white;
    justify-content: center;
    align-items: center;
}

h1{
    padding: 0.25em;
    flex-wrap: wrap;
    width: 10em;
    text-align: center;
    font-size: 3em;
    
}

p{
    
    flex-wrap: nowrap;
    width: 15em;
    text-align: center;
    font-size: 2em; 
}

button{
    justify-content: center;
    display: block;
    margin: 0.5em;
    
}

.redes{
    position: relative;
    padding: 0.5em;
    justify-content: center;
    position: relative;
    display: block;
    width: 30em;
    border: 1px solid black;
}

.contatos{
    padding: 1em;
    display: flex;
    position: relative;
    text-align: center;
}
#facebook{
    color: white;
    background-color: blue;
    justify-content: space-between;
    padding: 1em;
    border: none;
    border-radius: 3%;
    width: 30em;
}

#google{
    padding: 1em;
    border: 1px solid gray;
    border-radius: 3%;
    background-color: white;
    color: black;
    width: 30em;
    text-align: center;
}

#celular{
    padding: 1em;
    border: 1px solid gray;
    border-radius: 4%;
    background-color: white;
    color: black;
    width: 10em;
    text-align: center;

}

#email{
    padding: 1em;
    border: 1px solid gray;
    border-radius: 4%;
    background-color: white;
    color: black;
    width: 10em;
}